<div class="container">
  <h1>User info</h1>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <p>error</p>
      <%= message %>
    </div>
  <% end %>
  <%= form_with model: @user do |f| %>
    <p class="mt-3">Name</p>
    <%= f.text_field :name %>
    <p class="mt-3">Image</p>
    <%= f.file_field :profile_image, accept: ".jpg" %>
    <p class="mt-3">Introduction</p>
    <%= f.text_field :introduction %>
    <%= f.submit 'Update User' %>
  <% end %>
</div>